<div data-has-transparent-menu="{{ section.settings.transparent-menu }}"
     data-section-id="{{ section.id }}"
     data-section-type="header-section">
     
  {% include 'snippet-promo-bar' %}
  
  <header class="main-header">
    <div class="bg"></div>
    
    <div class="row top bottom-row">

      <!-- Logo --> 
      <div class="columns large-2" style="min-width: 140px;">
        {% include 'snippet-store-title' %}
      </div>
     
      
      <!-- Main Menu -->
      {% if linklists[section.settings.menu].links.size > 0 %}
        {% assign header_nav = section.settings.menu %}

        <div class="columns large-8 menu-container{% if section.settings.header-menu-center %} text-center{% endif %}">
          {% include 'snippet-main-menu' %}
        </div>
      {% endif %}

      <!-- Search, Help, Account --> 
      <div class="search-account columns large-4">
        {% include 'snippet-searchbar-account' %}
      </div>

    </div><!-- .row -->

    
    <div class="bottom-row mobile-menu-row">
      <div class="row">


        <div class="mobile-tools">
          {% if linklists[section.settings.menu].links.size > 0 %}
            <a class="menu" href="#">
              {% include 'snippet-symbol' with 'menu' %}
            </a>
          {% endif %}


          {% if section.settings.header-account-show and shop.customer_accounts_enabled %}
            <a href="/account" class="account">
              {% include 'snippet-symbol' with 'account' %}
            </a>
          {% endif %}

          <a href="/cart" class="cart">
            {% include 'snippet-symbol' with 'cart' %}
          </a>
        </div>
      </div>
    </div>

    <div class="main-menu-dropdown-panel">
      <div class="row{% if section.settings.header-menu-center %} text-center{% endif %}">

      </div>
    </div>

    {% if linklists[section.settings.menu].links.size > 0 %}
      {% assign header_nav = section.settings.menu %}

      <div class="mobile-menu">
        {% include 'snippet-mobile-menu' %}
      </div>
    {% endif %}

    <div class="row">
      <div class="header-divider"></div>
    </div>

  </header>

  <style>
    header .logo-image {
      height: {{ section.settings.header--logo-height }}px;
    }
  </style>

</div>

{% schema %}
{
  "name": "Header",
  "class": "section--header",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent-menu",
      "label": "Transparent on home page",
      "info": "Only recommended when slideshow is first section"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "header-search-show",
      "label": "Enable search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "header-account-show",
      "label": "Enable customer account links",
      "default": true,
      "info": "[You will also need to enable customer accounts in your store settings.](http:\/\/docs.shopify.com\/manual\/your-store\/customers\/customer-accounts)."
    },
    {
      "type": "checkbox",
      "id": "header-menu-center",
      "label": "Center align menu"
    },
    {
      "type": "paragraph",
      "content": "[View the docs for configuring muli-level menus](http:\/\/support.troopthemes.com\/article\/184-blockshop-navigation)"
    },
    {
      "type": "header",
      "content": "Logo options"
    },
    {
      "type": "checkbox",
      "id": "header-logo-center",
      "label": "Center align"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "1600 x 200px max"
    },
    {
      "type": "select",
      "id": "header--logo-height",
      "label": "Image Height",
      "options": [
        {
          "value": "25",
          "label": "25px"
        },
        {
          "value": "50",
          "label": "50px"
        },
        {
          "value": "75",
          "label": "75px"
        },
        {
          "value": "100",
          "label": "100px"
        }
      ],
      "default": "50",
      "info": "This is referring to the natural height and should be half of what you uploaded. This will ensure it displays nicely on retina screens."
    },
    {
      "type": "header",
      "content": "Promotion bar"
    },
    {
      "type": "radio",
      "id": "header--promo-bar--show-on",
      "label": "Show on",
      "options": [
        {
          "value": "home",
          "label": "Home page"
        },
        {
          "value": "all",
          "label": "All pages"
        }
      ]
    },
    {
      "type":  "text",
      "id":    "header--promo-bar--text",
      "label": "Text",
      "default": "Add your promotional message"
    },
    {
      "type":  "url",
      "id":    "header--promo-bar--link",
      "label": "Link to",
      "info": "Optional"
    }
  ]
}
{% endschema %}