<!-- NIGEL MOVED THIS DIV BELOW THE DIV ABOVE OTHERWISE THE LOGIN LINK WAS HIDDEN BEHIND THE
TITLE AND WAS UN-CLICKABLE WHEN THE WINDOW WAS NARROW --> 

<div class="login">

<!-- 
  <div class="login-link">
      <p style="color: white"> SENJJA<BR/>Have amazing sex.</p>
      <a class="login-link" href="">
        {% include 'snippet-symbol' with 'lock' %}
        {{ "general.password.login_link" | t }}
      </a>
  </div>
--> 

 
  
  <div class="login-form">

   {% form 'storefront_password' %}

    {{ form.errors | default_errors }}

    <label>Password:</label>
    <input type="password" name="password">
    <input class="button" type="submit" value="Enter">
    

    {% endform %}
  </div>
 
</div>

<style>
  html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fafafa !important;
  }

  .section--password .logo-image {
    height: #{'{{ section.settings.header--logo-height }}'}px;
  }
</style>

{% schema %}
{
  "name": "Password page",
  "class": "section--password",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "1600 x 200px max"
    },
    {
      "type": "select",
      "id": "header--logo-height",
      "label": "Image Height",
      "options": [
        {
          "value": "25",
          "label": "25px"
        },
        {
          "value": "50",
          "label": "50px"
        },
        {
          "value": "75",
          "label": "75px"
        },
        {
          "value": "100",
          "label": "100px"
        }
      ],
      "default": "50",
      "info": "This is referring to the natural height and should be half of what you uploaded. This will ensure it displays nicely on retina screens."
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "password--show-newsletter",
      "label": "Show signup form",
      "default": true
    }
  ]
}
{% endschema %}