<div class="row full-width">
    <div class = "column large-12 health-canada-license">
        <img src="{{ 'Exia_Biomedical_Health_Canada_Medical_Device_Establishment_License.jpg' | file_img_url: '1484x1920'}}" alt="{{ 'Exia Biomedical Health Canada Medical Device Establishment License' | escape }}"/>
    </div>
</div>