<div class="row full-width content-faq-header">
    <div class="column large-12 centered-panel">
         <h1>Get in touch</h1>
        <p>We're here. How can we help? Contact us anytime via email or call us from 10am - 6pm EST.</p>
        <br/>
        <p> </p>
        <p><a style="color:white" href="mailto:help@senjja.com"><i style="font-size: 1.8em" class="fa fa-envelope-o" aria-hidden="true"> </i>HELP@SENJJA.COM</a></p>
        <p> </p>
        <p><i style="font-size: 1.9em; color:white" class="fa fa-phone" aria-hidden="true"> </i><span style="color:white; font-size: 1.1em">1-800-371-3942</span></p>
    </div>
</div>



<div class="row full-width content-panel one-panel-content content-faq-container">
    <div class="column large-12">
        <h1>Frequently Asked Questions</h1>
        <div class="faqpage">
            <div class="accordion" id="section1">How does Senjja work?
            </div>
            <div class="container">
                <div class="content">
                <p>Senjja works by slowing blood flow from the penis to the body. In this way it's similar to a common
                cock ring or penis ring. However penis rings don't work well because they don't stay in place. They move back 
                and forth a bit during sex. This causes blood to escape. Senjja fixes this problem by securing the ring
                against the scrotum so that it doesn't move, thus creating a much more effective mechanism for prevening blood
                outflow.</p>
                </div>
            </div>
        
            <div class="accordion" id="section1">Why do you have to put Senjja on with the ring at the back and pull the ring through the legs?
            </div>
            <div class="container">
                <div class="content">
                <p>Senjja is unique in the way that it pulls the ring backward against the scrotum and pubus. This pulling is essential to 
                making Senjja work. By putting Senjja on with the ring at the back and then pulling forward, the band is stretched
                so that it pulls back properly, ensuring that the band pulls snugly backward to secure the ring.</p>
                </div>
            </div>
        
            <div class="accordion" id="section1">What's the difference between Senjja and a regular penis ring?
            </div>
            <div class="container">
                <div class="content">
                <p>Regular penis rings, or "cock rings" don't work well because they don't stay in place. They move back 
                and forth a bit during sex. This causes blood to escape. Senjja fixes this problem by securing the ring
                against the scrotum and pubus so that it doesn't move, thus creating a much more effective mechanism for prevening blood
                outflow.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">I've seen penis rings that have another ring that goes around the scrotum. Wouldn't that type of ring work like Senjja to 
            pull the main ring backward and hold it in place?
            </div>
            <div class="container">
                <div class="content">
                <p>Those rings have the right idea, but in fact they don't work well either, since the scrotum itself can move quite a bit. Therefore the ring 
                that goes around the scrotum doesn't really hold the main ring in place. The main ring can still move back and forth along the penile shaft and 
                that allows blood to escape, causing loss of hardness.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">Senjja seems really simple. What's so special about Senjja that it's patented?
            </div>
            <div class="container">
                <div class="content">
                <p>The special thing about Senjja is that it pulls the ring backwards, securing it against the scrotum and pubus. 
                This prevents the movement that makes normal penis rings ineffective. By securing the ring, Senjja effectively traps
                blood, creating and maintaining the erection.</p> 
                </div>
            </div>
            
            <div class="accordion" id="section1">Why does Senjja come in different sizes?
            </div>
            <div class="container">
                <div class="content">
                <p>The waist sizes accomodate different sized men to ensure that the bands aren't too tight or too loose. The 
                tension in the bands is important to pull Senjja backward to anchor against the base of the penis.</p>
                <p>The penis sizes accomodate different penis girths, or thicknesses, to ensure that the ring is snug
                without being too tight. The ring needs to be snug to prevent blood outflow that is the most common cause
                of being unable to obtain or maintain an erection.</p>
                </div>
            </div>
  
            
            <div class="accordion" id="section1">How does Senjja enhance the sexual experience if you don't have ED?
            </div>
            <div class="container">
                <div class="content">
                <p>For the guy who doesn't have ED, Senjja may make you feel thicker, longer and harder. It may also help you keep
                your erection even when you don't thrust as vigorously. Senjja can increase intimacy and sense of closeness and contact. 
                Your partner feels these sensations too.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">How does Senjja make you feel thicker and longer?
            </div>
            <div class="container">
                <div class="content">
                <p>By prevening blood outflow, Senjja traps more blood in the penis and in particular traps blood in the
                surface flesh. This makes the penis slightly thicker. Senjja pulls the penile skin backwards, preventing it
                from sliding, or rolling, back and forth during penetration and withdrawal. This creates more direct friction
                which creates a strong sensation of more length for both the man and his partner.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">How does Senjja make you feel more intimacy and contact?
            </div>
            <div class="container">
                <div class="content">
                <p>Senjja pulls the penile skin backwards, preventing it
                from sliding, or rolling, back and forth during penetration and withdrawal. This creates more direct friction
                which is felt with even small movements. You can relax more while still feeling contact. Men and their partners
                both report a sense of greater intimacy and contact.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">It says on the product page that Senjja lasts 6-10 uses. Why doesn't it last longer? 
            </div>
            <div class="container">
                <div class="content">
                <p>Senjja may last longer. Many things determine how long Senjja will last, such as the type of lubricant, 
                style of usage, degree of care, and other factors that we can't predict.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">What if I order Senjja and it's the wrong size?  
            </div>
            <div class="container">
                <div class="content">
                <p>Just let us know and we'll gladly send you another size. We'll keep trying until we get it right.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">Returns are always such a pain... repackaging, mailing and all that. If I don't like Senjja or it doesn't work for
                me will I have to go through all that hassle to get a refund?
            </div>
            <div class="container">
                <div class="content">
                <p>No you won't. We agree returns are a hassle. If you want a refund simply let us know and we'll gladly refund your money. You can keep the
                Senjja or discard it.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">I pronounce the jj sound in Senjja like "Ninja", but my wife says it like "Senya". Who's right?
            </div>
            <div class="container">
                <div class="content">
                <p>You're both right! Men tend to think like a Ninja warrior while women often prefer the softer sound. The fact that 
                Senjja embraces our differences is built right into the name.</p>
                </div>
            </div>
            
            <div class="accordion" id="section1">How come there are two letter j's in Senjja? 
            </div>
            <div class="container">
                <div class="content">
                <p>Because we think the spooning metaphor made by the two j's is pretty cool. It symbolizes closeness, comfort and affection. Urban Dictionary defines
                spooning as "A form of affection between a couple. Where the man lies front to back with his partner. They fit together like spoons."</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- FAQ code From https://www.envision.io/blogs/ecommerce-pulse/28832705-how-to-add-an-faq-accordion-to-your-shopify-store --> 
<script type="text/javascript" src="{{ 'jquery_accordion.js' | asset_url }}"></script>
<script type="text/javascript">
$(document).ready(function() {
$('.accordion').accordion({
defaultOpen: '',
cookieName: 'accordion_nav'
});
});
</script>


