<!-- Introduction --> 
<div class="row full-width content-panel one-panel-content welcome-healthcare-professionals">
    <div class="column large-12">
        <h1>Welcome healthcare professionals</h1>
        <p>Senjja is a new, novel and patent-pending medical device that can be part of a treatment program
        for mild to severe erectile dysfunction (Erection Hardness Scores 0-3). 
        Senjja's effectiveness has been demonstrated in multiple clinical trials.</p>
        <p>Senjja has also been shown to be effective in treating climacturia.</p>
        <a class="button standard-button" href="{{shop.url}}/pages/medical">Clinical trial details</a>
    </div>
</div>


<!-- Subscribe to updates --> 
<div class="row full-width content-panel one-panel-content content-healthcare-signup-intro">
    <div class="column large-12">
        <h1>Be prepared. Subscribe to receive updates.</h1>
        <p>We'll send you a starter kit that includes product samples, instructional 
        posters and other materials to ensure you're well prepared when patients ask 
        about Senjja.</p>
        <p>We'll also send you occasional emails notifying you of important developments, 
        such as a Senjja clinical trial or results of a trial. We won't send you junk email, and you can unsubscribe from emails any time.</p> 
    </div>
</div>

<div class="row full-width content-panel content-healthcare-signup-form" >
    <div class="column large-12">
        {%include 'snippet-healthcare-signup-form' %}
    </div>
</div>