<div class="row full-width policy">
    <div class="column large-12">
        <h1>REFUND POLICY</h1>
        <p>Our refund policy is simple and hassle-free. If for any reason you are unsatisfied with Senjja, simply contact us for a full refund.</p>
        <p>You will not be required to return the product. You may simply discard it.</p>
        <h2>SENJJA DOESN'T FIT PROPERLY?</h2>
        <p>No problem. Just let us know and we'll send you another size right away, no charge.</p>
        <h2>CONTACT EMAIL:</h2>
        <p>Contact us at <a href="mailto:sales@exiabiomedical.com">sales@exiabiomedical.com</a>.</p>
    </div>
</div>