<!-- Senjja was built with dignity and confidence --> 
<div class="row full-width content-panel two-panel-content about-us-panel-1">
    <div class="column large-6 small-2"> 
    </div>
    <div class="column large-6 small-10 content-panel-text">
        <h1>Senjja was built with dignity and confidence</h1>
        <p>because Senjja evokes the Ninja in all men: A warrior capable of overcoming all obstacles; confident, self-sufficient and highly skilled in the use of tools and weaponry at his disposal.</p>
    </div>
</div>

<!-- Like most of you... --> 
<div class="row full-width content-panel one-panel-content about-us-panel-2">
    <div class="column.large-centered large-12">
        <p>Like most of you, we don't think of erectile dysfunction as something that needs drastic measures like pills, injections or pumps. We think
        of it as just another thing in life that needs to be managed a bit more as time goes by. So we created a great management tool that can be a useful
        part of your arsenal.</p>
    </div>
</div>

<!-- Our Inventors --> 
<div class="row full-width">
    <div class="column large-5 two-panel-content-image">
        <img src="https://cdn.shopify.com/s/files/1/1278/8867/files/NigelAndJen1000x1000.png?12369180825764691694"/>
    </div>
    <div class="column large-7 content-panel two-panel-content-image-caption">
        <h1>Our Inventors</h1>
        <p>Senjja was invented by the husband and wife team Nigel Shaw and Jennifer Lowrey of Ottawa, Canada.</p>
        <p>With a growing family of four children and the usual stresses that life brings, 
        Nigel had started to experience high blood pressure and occasional ED. 
        Like many men he was embarrassed to see a doctor and didn’t want to take pills with possible side effects. 
        He invented Senjja as a way to help himself, but soon realized that it had the potential to help others.</p> 
        <p>We created Exia Biomedical Inc. to bring Senjja to the world. Our goal is to help men and their partners be the 
        best they can be in love and in life.</p>
        <p><i>Nigel and Jennifer - Ottawa, Canada</i></p>
    </div> 
</div>
    
<!-- Shop Now --> 
<div class="row full-width content-panel-shop-now">
    <div class="column large-12">
        <p>What are you waiting for?</p>
        <p><a href="Shop Now">Shop Senjja</a></p>
    </div>
</div>

<!-- Save Money --> 
<div class="row full-width">
    <div class="column large-5 two-panel-content-image">
        <img width="300px" height="300px" src="https://cdn.shopify.com/s/files/1/1278/8867/files/PriceComparison.png?7094584849690293940"/>
    </div>
    <div class="column large-7 content-panel two-panel-content-image-caption">
        <h1>Save Money</h1>
        <p>Compared to the leading competitors, Senjja costs about a third as much per use. If you have sex twice a week, 
        you'll save $400 a year. Heck that's enough to get anyone in the mood!</p>
    </div> 
</div>

<!-- Our Factory --> 
<div class="row full-width content-factory">
    <div class="column large-5 push-7 two-panel-content-image">
        <img src="https://cdn.shopify.com/s/files/1/1278/8867/files/AlbrightCleanRoom.png?5404355816922032864"/>
    </div>
    <div class="column large-7 pull-5 content-panel two-panel-content-image-caption">
        <h1>Exacting Standards</h1>
        <p>Senjja is designed in Canada and manufacutured to exacting medical grade standards using state of the 
        art technology. By working with a prototyping partner in the USA we ensure that we can rapidly translate your user feedback 
        into the best possible products both now and in the future.</p>
    </div> 
</div>


<!-- Charity --> 
<div class="row full-width content-charity">
    <div class="column large-5 two-panel-content-image ">
        <img src="https://cdn.shopify.com/s/files/1/1278/8867/files/ProstateCancerFoundation.png?8171934694165108719"/>
    </div>
    <div class="column large-7 content-panel two-panel-content-image-caption">
        <h1>Help Fight Prostate Cancer</h1>
        <p>One percent of proceeds from Senjja sales are donated to the Prostate Cancer Foundation. Help fight the most
        common type of men's cancer.</p>
    </div> 
</div>

<!-- Shop Now --> 
<div class="row full-width content-panel-shop-now">
    <div class="column large-12">
        <p>Still waiting?</p>
        <p><a href="Shop Now">Shop Senjja</a></p>
    </div>
</div>


