<!-- Header banner --> 
<div class="row full-width content-panel sideeffects-page-banner">
    <div class="column large-7 small-1"> 
    </div>
    <div class="column large-5 small-11 sideeffects-page-banner-caption">
        <div class="sideeffects-page-banner-caption-wrapper">
            <h1>The healthy alternative</h1>
            <p>"Senjja has fewer potential side-effects than alternatives."</p>
            <p class="bella-signature">Dr. Anthony J Bella, MD FRCS(C)</p>
        </div>
    </div>
</div>

<!-- Compare Side Effects --> 
<div class="row full-width">
    <div class="column centered-panel large-12">
        <h1>Compare</h1>
        <p>Compare the potential side effects of Senjja to PDE5 inhibitor drugs such as Viagra, Levitra and Cialis.
    </div>
    <div class="column large-6 left-panel content-sideeffects">
       <h2>Senjja</h2>
        <ul>
        <li>prolonged erection/priapism</li>
        <li>pain or redness of the penis</li>
        <li>permanent injury to the penis can result if the device is either worn too 
        tight or for more than 30 minutes</li>
        <li>aggravation of already existing medical conditions such as 
        Peyronie’s disease, priapism and urethral strictures</li>
        <li>bruising or rupturing of the blood vessels within the 
        penis or scrotum</li>
        </ul>
    </div> 
    <div class="column large-6 left-panel content-sideeffects">
        <h2>PDE5 inhibitor drugs</h2>
        <ul>
            <li>bladder pain</li>
            <li>burning feeling in the chest or stomach</li>
            <li>burning, crawling, itching, numbness, prickling, "pins and needles", or tingling feelings</li>
            <li>cloudy or bloody urine</li>
            <li>dizziness</li>
            <li>increased frequency of urination</li>
            <li>indigestion</li>
            <li>pain on urination</li>
            <li>stomach upset</li>
            <li>tenderness in the stomach area</li>
            <li>abnormal vision</li>
            <li>anxiety</li>
            <li>behavior change similar to drunkenness</li>
            <li>bleeding of the eye</li>
            <li>blurred vision</li>
            <li>bone pain</li>
            <li>breast enlargement</li>
            <li>chest pain</li>
            <li>chills</li>
            <li>cold sweats</li>
            <li>confusion</li>
            <li>convulsions (seizures)</li>
            <li>cool and pale skin</li>
            <li>deafness or hearing loss</li>
            <li>decrease in amount of urine or the frequency of urination</li>
            <li>decreased vision</li>
            <li>difficulty in concentrating</li>
            <li>dizziness or lightheadedness, especially when getting up suddenly from a lying or sitting position</li>
            <li>double vision</li>
            <li>drowsiness</li>
            <li>dry eyes</li>
            <li>dry mouth</li>
            <li>dryness, redness, scaling, or peeling of the skin</li>
            <li>excessive hunger</li>
            <li>eye pain</li>
            <li>fainting or faintness</li>
            <li>fast, irregular, or pounding heartbeat</li>
            <li>feeling of something in the eye</li>
            <li>fever or chills</li>
            <li>headache (severe or continuing)</li>
            <li>increase in the size of the pupil</li>
            <li>increased sweating</li>
            <li>increased thirst</li>
            <li>lower back or side pain</li>
            <li>migraine headache</li>
            <li>nausea (severe or continuing)</li>
            <li>nervousness</li>
            <li>nightmares</li>
            <li>numbness of the hands</li>
            <li>painful, swollen joints</li>
            <li>prolonged, painful erection of penis</li>
            <li>redness, burning, or swelling of the eyes</li>
            <li>redness, itching, or tearing of the eyes</li>
            <li>restless sleep</li>
            <li>seeing shades of colors differently than before</li>
            <li>sensitivity to light</li>
            <li>shakiness</li>
            <li>skin lesions with swelling</li>
            <li>skin paleness</li>
            <li>skin rash, hives, or itching</li>
            <li>skin ulcers</li>
            <li>slurred speech</li>
            <li>sore throat</li>
            <li>sudden weakness</li>
            <li>swelling of the face, hands, feet, or lower legs</li>
            <li>trouble breathing</li>
            <li>twitching of the muscles</li>
            <li>unusual feeling of burning or stinging of the skin</li>
            <li>unusual tiredness or weakness</li>
            <li>vision changes</li>
            <li>vision loss, temporary</li>
            <li>aches or pains in the muscles</li>
            <li>bloody nose</li>
            <li>diarrhea</li>
            <li>difficult or labored breathing</li>
            <li>flushing</li>
            <li>headache</li>
            <li>pain or tenderness around the eyes and cheekbones</li>
            <li>redness of the skin</li>
            <li>sneezing</li>
            <li>stomach discomfort following meals</li>
            <li>stuffy or runny nose</li>
            <li>trouble sleeping</li>
            <li>unusually warm skin</li>
            <li>abdominal or stomach pain</li>
            <li>abnormal dreams</li>
            <li>anxiety</li>
            <li>clumsiness or unsteadiness</li>
            <li>cough</li>
            <li>diarrhea or stomach cramps (severe or continuing)</li>
            <li>difficulty in swallowing</li>
            <li>ear pain</li>
            <li>increased amount of saliva</li>
            <li>increased skin sensitivity</li>
            <li>lack of coordination</li>
            <li>loss of bladder control</li>
            <li>mental depression</li>
            <li>nausea</li>
            <li>numbness or tingling of the hands, legs, or feet</li>
            <li>rectal bleeding</li>
            <li>redness or irritation of the tongue</li>
            <li>redness, soreness, swelling, or bleeding of the gums</li>
            <li>ringing or buzzing in the ears</li>
            <li>sensation of motion, usually whirling, either of one's self or of one's surroundings</li>
            <li>sleepiness</li>
            <li>sores in the mouth and on the lips</li>
            <li>tense muscles</li>
            <li>trembling and shaking</li>
            <li>vomiting</li>
            <li>waking to urinate at night</li>
            <li>worsening of asthma</li>
            </ul>
    </div>

</div>

<!-- Shop Now --> 
<div class="row full-width content-panel-shop-now">
    <div class="column large-12">
        <h1>Choose healthy</h1>
        <p>With fewer and less severe potential side effects, Senjja is the healthy alternative.</p>
        <a class="button standard-button" href="{{shop.url}}/products/senjja">Shop Senjja</a>
    </div>
</div>



