<div class="da_div_for_bar" style="width: 100%;" data-product-id="9451615757" data-shop-url="senjja.myshopify.com"></div>
<script src="https://da.boldapps.net/donations/create_script_for_bar" ></script>