<!-- Injection --> 
<div class="row full-width medical-clinical-trial">
    <div class="column large-6 medical-clinical-trial-left-column">
        <h2>Objectives</h2>
        <p>Functional denervation following radical prostatectomy (RP) often results in downstream cavernous smooth muscle
        atrophy and subsequent erectile dysfunction (ED) with characteristics of cavernous veno-occlusive disease (CVOD). In the absence
        of nerve signaling, but maintained arterial inflow and trapping mechanism, ED may be treated with self-injection therapy (ICI). Failing
        ICI or vacuum erection device treatment limits options to surgery (penile prosthesis - PP). We investigate a novel soft silicone loop
        occlusive device (SSLO) which is FDA and Health Canada compliant, for salvage of ICI-venoseal (VS) failures.</p> 
        <h2>Methods and Materials</h2>
        <p>Fourteen men at least 18 months post-RP comprised the study group, having failed ICI and ICI-VS
        attaining maximum EHS scores of 1 or 2. In-office testing and teaching of ICI at 1 cc DS trimix (mean no. of visits 4), follow-up (FU)
        at 4 weeks and addition of the VS at this point to ICI with repeat in-office testing/teaching (again 1 cc DS trimix), and FU at 8 weeks
        of ICI-VS use was performed. No pts attained an EHS 3 or better in office or at home. Options for treatment were reviewed, including
        surgery, VED (failed for satisfactory function previously by 9), or an in-office test with ICI 1 cc DS trimix and the SSLO March or April
        2016. The 14 pts choosing to trial ICI-SSLO at home underwent review through end June 2016.</p>
    </div>
    <div class="column large-6 medical-clinical-trial-right-column">
        <h2>Results</h2>
        <p>Seven pts had no improvement with the addition to SSLO to ICI in office testing, remaining at EHS 1. Seven of 11 (one
        from EHS 1 to three, six from EHS 2 to three) proceeded to home use, and completed 3 month FU. At 3 months, 6 men continue to
        use ICI-SSLO; one has stopped due to partner request at May visit. Feedback from partners included better comfort vs VS (to the pt
        and partner), satisfactory penetrative rigidity, and acceptable aesthetics in comparison to ICI-VS. Strengths of study include
        structured in office testing, teaching and FU, as well as a clearly defined target treatment group. Limitations include small study
        population.</p>
        <h2>Conclusions</h2>
        <p>In a super-select cohort of men post-RP, with extensive structured in-office testing and failure of ICI /ICI-VS (EHS 1 or
        2), the SSLO addition converted treatment failures to EHS 3 rigidity sufficient for intercourse for 7 of 14 men. At three months, 43%
        continue to utilize ICI and the SSLO. The SSLO offers unique properties of ring fixation and force vector application compared to VS,
        other "penis rings" or occlusion devices. Partner feedback suggests the ICI/SSLO is a comfortable, partner acceptable modality for
        satisfactory ED treatment salvage.</p>
    </div> 
</div>
