    <div class="column centered-panel large-12 medical-clinical-trial-header">
        <h1>Clinical Trial 1</h1>   
        <p>Erectile Function and Sexual Enhancement.
        AJ Bella, Principal Investigator</p>
        <p>Presentation and Publication, 20th World Meeting on Sexual Medicine, Sep 22, 2016 - Sep 25, 2016, Beijing, China</p>
        <p class="clinical-trial-read-more">Read more...</p>
    </div>