<!-- Non-Injection --> 
<div class="row full-width medical-clinical-trial">
    <div class="column large-6 medical-clinical-trial-left-column">
        <h2>Objectives</h2> 
        <p>We sought to evaluate a new FDA and Health Canada compliant medical device consisting 
        of a soft silicone occlusion loop (SSOL) with geodesigned anchoring in a cross-section of men. The SSOL 
        design is novel, offering a unique means of loop fixing compared to  traditional penile occlusion bands 
        (POB) or c*ck rings (CR). We identified complimentary force vectors to circular constriction applied by 
        the anchoring mechanism  and theorized that this may optimize venous trapping in CVOD ED. Finally, the 
        design of the SSOL is less obtrusive to the man and his partner, and does not impact external genitalia 
        of the partner, which may make acceptance as a sexual function (SF) enhancement device for intimacy easier.</p>  
        <h2>Methods and Materials</h2> 
        <p>SSOLs were obtained in January 2016. Groups using POB/CR, PDE5i use for ED contributed 
        to most likely by CVOD, Peyronie's disease (PyD) less than 45 degrees responsive to PDE-5i or ICI (buckling 
        segment or maximum EHS score 3 with PDE5i.), and men considered to have "normal" erectile function but seeking 
        improved function, were offered SSOLs. Standard operating procedures in the clinic include IIEF-15, IPSS, 
        and if applicable, PDQ/Pyd questionnaires. In-office teaching of ICI as well as the SSOL is strictly adhered to.</p> 
    </div>
    <div class="column large-6 medical-clinical-trial-right-column">       
        <h2>Results</h2>
        <p>Pts (n=21) evaluated comprised of 7 POB/CR, 5 PDE5i/CVOD, 5 PyD, and 4 "normal" patients with IIEF-15 
        scores of 25 or greater referred for "optimization of performance".  4/7 POB/CR pts preferred ongoing use of 
        the SSOL, 2/7 did not attain meaningful improvement compared to POB/CR most likely due to body habitus preventing 
        optimal positioning, and 1/7 penile girth was too large for fit. For the PDE5i group, 4/5 men reported improved 
        SF with concurrent SSOL use, and surprisingly 2/5 reported SSOL-only satisfactory EF (without PDE5i). For 1/5 
        men, the SSOL could not be positioned properly in office. All 4 PyD pts reported improvement in EF and girth, 
        with PDE5i vs PDE5i plus SSOL measurements supporting an approximate 8 mm circumferential improvement. The PyD 
        ICI patient was able to penetrate with PDE5i and SSOL. "Normal" patients demonstrated improvement in IIEF-15 
        scores compared to baseline, with 2/4 using the SSOL regularly, one on occasion, and one not at all as he is 
        between partners. Partner acceptance was uniform, likely due to a combination of SSOL characteristics and the 
        fact that almost all pts previously used ED treatments.</p>
        <h2>Conclusions</h2>
        <p>Use of the SSOL, a unique form of POB/CR, 
        offered significant EF and SF benefit to 14/21 pts.</p>
    </div> 
</div> 